/*
Nome: Mateus Lidonis Blanco
Matrícula: 321831
Data da entrega: 18/06/2021
Projeto: Formulário de cadastro para triagem de COVID-19
*/

/*Importo uma fonte (Poppins) do Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*Formato o padrão da página*/
*{
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/*Formato o corpo da página, alinhando os itens no centro e deixando uma imagem como background*/
body{ 
    background-image: url(../IMAGES/backgroundResult.jpg);      
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;       
}

/*Formato o main container, criando uma parte branca com bordas arredondadas*/
main.container{
    background: white;
    width: 600px;
    min-height: 40vh;
    padding: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
    border-radius: 8px; 
       
}

/*Caso a tela do dispositivo seja menor ou igual a 550 essa configuração ao main container é aplicada*/
@media (max-width: 550px) {
    main.container{
        width: 380px;
        padding-left: 0.25rem; 
    }    
}

/*Edito o botão de sair da página e voltar ao Login*/
a{ 
    text-decoration: none;
    color:white;
    background: linear-gradient(to left, #e27474, #e95845);
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 4px;
    font-weight: 300;       
}

/*O gradiente do botão inverte de lado caso o usuário coloque o mouse em cima*/
a:hover{    
    background: linear-gradient(to right, #e27474, #e95845);
}

/*Formato a div download para o botão de download ficar centralizado*/
div.download{
    width: 15rem;
    display: flex;
    align-items: center;
    justify-content: center; 
    margin-left: 9rem;
}

/*Caso a tela do dispositivo seja menor ou igual a 550 essa configuração à div download é aplicada*/
@media (max-width: 550px) {
    div.download{
        margin-left: 4rem; 
        
    }    
}

/*Formato o botão de download*/
a.download{
    text-decoration: none;
    color:white;
    background: linear-gradient(to left, #e27474, #e95845);
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 4px;
    font-weight: 300;
    margin-top: 3rem;
    display: flex;
    align-items: center;
    justify-content: center; 
    
}

/*O gradiente do botão inverte de lado caso o usuário coloque o mouse em cima*/
a.download:hover{
    background: linear-gradient(to right, #e27474, #e95845);
}

/*Ajusto a tag H2 que o link para sair está inserido*/
h2{
    margin-top: 1rem;
    margin-left: 1rem;  
    margin-bottom: 1rem;   
}

/*Ajusto a tabela que mostra os resultados*/
table{
    border: 1px solid black;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    height: 10rem; 
    width: 25rem;
    display: flex;
    align-items: center;
    justify-content: center;     
} 



div.tabela{
    display: flex;
    align-items: center;
    justify-content: center;
    
}


/*Ajusto a coluna 1 dessa tabela*/
td.col1{
    font-weight: bold;
    padding-right: 0.5rem;
    padding-left: 1rem;    
}

/*Ajusto a coluna 2 dessa tabela*/
td.col2{    
    padding-right: 1rem;
    
}

/*Caso a tela do dispositivo seja menor ou igual a 550 essa configuração à table é aplicada*/
@media (max-width: 550px) {
    table{
        width: 370px; 
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        padding-left: 0.5rem;
        padding-right: 0.5rem;                
    }    
    div.tabela{
        margin-left: 1.6rem;
    }
}

/*Formato a mensagem de que o paciente não tem o resultado disponível*/
.resultado-false{
    border-radius: 4px;
    background-color: rgb(241, 107, 107);
    padding: 0.4rem;
    font-weight: 500;    
    font-size: 1rem;
    margin-top: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*Caso a tela do dispositivo seja menor ou igual a 550 essa configuração à resultado-false é aplicada*/
@media (max-width: 550px) {
    .resultado-false{
        border-radius: 4px;
        background-color: rgb(241, 107, 107);
        padding: 0.4rem;
        font-weight: 500;    
        font-size: 1rem;
        margin-top: 6rem;
        margin-left: 1.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }    
}

/*Formato o título da tabela*/
.relatorio{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 1.2rem;
    margin-bottom: 2rem;
}